.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: max-content;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-left: 15px;
}
.dashboard__cell, .dashboard__row {
  padding: 5px;
  box-shadow: 0 0 4px 0 #aaa;
  background: whitesmoke;
  height: min-content;
}
.dashboard__row {
  grid-column: 1 / 3;
}

.dashboard-widget__title {
  font-weight: bold;
  font-size: 18pt;
  text-align: center;
  margin: 0 0 5px 0;
}
.dashboard-widget__modal {
  width: 100%;
  font-weight: bold;
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-controlpanel {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  column-gap: 5px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}
.dashboard-controlpanel .amd-panel-row_info {
  margin-bottom: 0;
}

.stage-traffic-widget {
  display: grid;
  grid-template-areas: "funnels controls" "funnels stages";
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  box-sizing: border-box;
}
.stage-traffic-widget__wrapper {
  width: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stage-traffic-widget_with-background {
  padding: 5px;
  box-shadow: 0 0 4px 0 #aaa;
  background: whitesmoke;
}
.stage-traffic-widget__funnels {
  padding: 5px 10px 10px 0;
  max-width: 400px;
  max-height: 240px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: auto;
  grid-area: funnels;
  height: 100%;
}
.stage-traffic-widget__funnel {
  white-space: nowrap;
  cursor: pointer;
  padding: 5px;
}
.stage-traffic-widget__funnel_active {
  background-color: white;
  color: black;
  border-left: 4px solid #337ab7;
}
.stage-traffic-widget__funnel:hover {
  background-color: white;
}
.stage-traffic-widget__stages {
  display: flex;
  column-gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
  grid-area: stages;
  box-sizing: border-box;
}
.stage-traffic-widget__stage {
  box-sizing: border-box;
  max-width: 250px;
  min-width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 3px 1px #ccc;
}
.stage-traffic-widget__stage-title {
  max-width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 2px 0;
  margin-bottom: 4px;
  box-sizing: border-box;
  color: black;
  border-bottom: 4px solid;
}
.stage-traffic-widget__stage-traffic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  flex-grow: 1;
}
.stage-traffic-widget__lead-value {
  width: 48%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1em;
  padding: 0 10px;
  font-size: 0.9rem;
  font-weight: bold;
  box-sizing: border-box;
}
.stage-traffic-widget__lead-value_to {
  background-color: #f5c6cb;
}
.stage-traffic-widget__lead-value_from {
  background-color: #c3e6cb;
}
.stage-traffic-widget__controls {
  grid-area: controls;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 10px;
  width: 100%;
}
.stage-traffic-widget__controls .amd-filter {
  width: auto;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  background: #fbfbfb;
}
.stage-traffic-widget__controls .amd-filter__head {
  display: flex;
  align-items: center;
  height: 33px;
  width: 100%;
  overflow: hidden;
  background: none;
  padding: 0 5px;
}
.stage-traffic-widget__controls .amd-filter__body {
  position: absolute;
  border: 0;
  background-color: #f7f7f7;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  padding: 7px;
  width: 248px;
  z-index: 2;
  margin: 5px 0 0;
}

.processed-lead-stat-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.processed-lead-stat-chart {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
}
.processed-lead-stat-chart__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.processed-lead-stat-chart__modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20pt;
}
.processed-lead-stat-chart__chart {
  flex: 1;
}

.active-lead-lifetime-widget {
  display: block;
}

.active-lead-lifetime-chart__controls {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 10px;
  justify-content: space-between;
}
.active-lead-lifetime-chart__control-cell_column-1 {
  grid-row: 1 / 3;
  grid-column: 1;
}
.active-lead-lifetime-chart__control-cell_1-2 {
  grid-row: 1;
  grid-column: 2;
}
.active-lead-lifetime-chart__control-cell_2-2 {
  grid-row: 2;
  grid-column: 2;
}
.active-lead-lifetime-chart .category-settings {
  display: block;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 5px;
}
.active-lead-lifetime-chart .category-settings__btn {
  cursor: pointer;
  color: white;
}
.active-lead-lifetime-chart .category-settings__btn_active {
  color: #f0ad4e;
}
.active-lead-lifetime-chart .category-settings__title {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.active-lead-lifetime-chart .category-settings__params {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  align-items: center;
  column-gap: 5px;
}
.active-lead-lifetime-chart .category-settings__interval {
  flex: 1;
  height: 6px;
}
.active-lead-lifetime-chart .category-settings__input {
  width: 50px;
  padding: 0 5px;
  border: 1px solid;
  border-radius: 2px;
  text-align: center;
}
.active-lead-lifetime-chart .category-settings__buttons {
  text-align: right;
}

.funnel-control-element .amd-filter, .dismissed-user-control-element .amd-filter {
  width: auto;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  background: #fbfbfb;
}
.funnel-control-element .amd-filter__head, .dismissed-user-control-element .amd-filter__head {
  display: flex;
  align-items: center;
  height: 33px;
  width: 100%;
  overflow: hidden;
  background: none;
  padding: 0 5px;
}
.funnel-control-element .amd-filter__body, .dismissed-user-control-element .amd-filter__body {
  position: absolute;
  border: 0;
  background-color: #f7f7f7;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  padding: 7px;
  width: 248px;
  z-index: 2;
  margin: 5px 0 0;
}

.lead-source-distribution-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.lead-source-distribution-chart {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
}
.lead-source-distribution-chart__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lead-source-distribution-chart__modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20pt;
}
.lead-source-distribution-chart__chart {
  flex: 1;
}

.lead-source-distribution-grid .amd-filter__caption {
  word-break: normal;
}

.lead-adv-platform-distribution-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
}

.lead-adv-platform-distribution-chart {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 600px;
}
.lead-adv-platform-distribution-chart__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lead-adv-platform-distribution-chart__modal {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20pt;
}
.lead-adv-platform-distribution-chart__chart {
  flex: 1;
}

.lead-adv-platform-distribution-grid .amd-filter__caption {
  word-break: normal;
}
